<div *ngIf="successMessage !== ''" class="alert alert-success">
    {{successMessage|json}}
</div>

<!-- {{roomsForm.valid | json}} -->

<form #roomsForm="ngForm" (ngSubmit)="AddRoom(roomsForm)">
    <div class="form-group">
        <input required class="form-control" name="roomType" type="text" placeholder="Room Type"
            [(ngModel)]="room.roomType" [ngModelOptions]="{updateOn: 'blur'}" />
    </div>
    <!-- only check changes for validation while moving out from the form control -->
    <div class="form-group">
        <input #roomAmenities="ngModel" required class="form-control" minlength="5" maxlength="20" name="amenities"
            type="text" placeholder="Amenities" [(ngModel)]="room.amenities" />
        <div class="alert alert-danger" *ngIf="roomAmenities.errors?.['minlength']">
            Amenities should be at least 5 chars.
        </div>
        <div class="alert alert-danger" *ngIf="roomAmenities.dirty && roomAmenities.errors?.['required']">
            Amenities is required.
        </div>
    </div>
    <div class="form-group">
        <input required class="form-control" name="price" type="number" placeholder="Room Price per night"
            [(ngModel)]="room.price" />
    </div>
    <div class="form-group">
        <input required class="form-control" name="photos" type="text" placeholder="Phots url"
            [(ngModel)]="room.photo" />
    </div>
    <div class="form-group">
        <input required class="form-control" name="checkInTime" type="datetime" placeholder="Check-in Time"
            [(ngModel)]="room.checkInTime" />
    </div>
    <div class="form-group">
        <input required class="form-control" name="checkOutTime" type="datetime" placeholder="Check-out Time"
            [(ngModel)]="room.checkOutTime" />
    </div>
    <div class="form-group">
        <input required class="form-control" name="rating" type="number" placeholder="Rating" min="1" max="5"
            [(ngModel)]="room.rating" />
    </div>
    <div>
        <button [disabled]="roomsForm.invalid" class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>