<div>
    <h2>{{title}}</h2>
    <table class="table">
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>Checkin Time</th>
            <th>Rating</th>
            <th>Select Room</th>
        </tr>
        <tr [ngClass]="{'even': e, 'odd': o}" *ngFor="let room of rooms; even as e; let o = odd, index as i">
            <td>{{i}}</td>
            <td>{{e ? "Even" : "Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price | currency: 'GBP'}}</td>
            <td>{{room.amenities | titlecase}}</td>
            <td>{{room.checkInTime | date: 'shortDate'}}</td>
            <td>{{room.rating | number: '1.1-1'}}</td>
            <td>
                <!-- <button class="btn btn-primary" (click)="selectRoom(room)">
                    Select
                </button> -->
                <button class="btn btn-primary" [routerLink]="['/rooms', room.roomNumber]">Book Room</button>
            </td>
        </tr>
    </table>
</div>