<!-- <h1>Hello World!</h1>
<hinv-rooms></hinv-rooms>
<hinv-container> -->
    <!-- only works when ng-content tag is inside a component -->
    <!-- <hinv-rooms></hinv-rooms>
    <hinv-employee></hinv-employee>
    <h1>This is from ng-content</h1>
</hinv-container>
<div #name></div> -->
<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'admin'">
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchCase="'user'">
        Welcome User!
    </div>
    <div *ngSwitchDefault>
        You are not authorized to view this page!
    </div>
</div> -->
<!-- dynamically load a component -->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<!-- <a [routerLink]="'rooms'">Rooms</a>
<a [routerLink]="'employee'">Employee</a>
<router-outlet></router-outlet> -->
<hinv-app-nav></hinv-app-nav>